.zoomtext:hover {
    transition: transform 0.2s ease-in;
    transform: scale(1.2) !important;
}
.highlight {
	border: 3px solid transparent;
	box-sizing: border-box;
}
.highlight:hover{
    border-color: rgb(233, 233, 36);
}

/* To hide the drop-down arrow */
.hidden-arrow > a::before, 
.hidden-arrow > a::after {
    border: none;
    content: none;
}

.notification-badge {
	position: absolute;
	font-size: .6rem;
	margin-top: -0.1rem;
	margin-left: -0.5rem;
	padding: 0.2em 0.45em;
	opacity: 1.0;
}

.list-group{
    max-height: 10rem;
	max-width: 10rem;
    margin-bottom: 10vw;
    overflow-y: auto;
	overflow-x: hidden;
}